@font-face {
    font-family: roboto-slab;
    src: url(fonts/Roboto_Slab/RobotoSlab-VariableFont_wght.ttf)
}

* {
    padding: 0;
    margin: 0;
}

:root {
    /* --main-color-1: rgb(0, 110, 255); */
    --main-color-1: #047857;
    --main-color-2: white;
    --main-color-3: rgb(239, 237, 237);
    --main-color-4: #d97706;
}

html {
    height: 100%;
    font-family: roboto-slab, sans-serif;
}

body {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 5fr;
    background-color: var(--main-color-3);
}

.sidebar {
    background-color: var(--main-color-1, blue);
    color: var(--main-color-2, white);
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr;
    /* grid-template-rows: repeat(auto-fill, minmax(20vh, auto)); */
    grid-template-rows: auto auto auto 1fr;
    gap: 6rem;
}

.logo {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.sections, 
.tools {
    display: grid;
    align-items: start;
    grid-template-rows: repeat(auto-fit, minmax(1rem, 2rem));
    gap: 1rem;
}


.sidebar > div > a {
    display: flex;
    align-items: center;
    gap: 1rem;
    text-decoration: none;
    color: var(--main-color-2, white);
    font-size: 1.5rem;
}

.sidebar > div > a:hover {
    text-decoration: underline;
}

.icon {
    height: 20px;
}

.main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    
}

.top-panel {
    display: grid;
    grid-template-columns: 3fr 2fr;
    box-shadow: 2px 2px 12px;
    margin-bottom: 1rem; /* so box shadow is visible */
    gap: 1rem;
    padding: 1rem;
    align-items: center;
    background-color: var(--main-color-2);
}

.top-panel form {
    display: flex;
    align-items: center;
}

.top-panel input[type="search"] {
    flex: 1;
    border-radius: 12px;
    border: none;
    margin-left: 0.5rem;
    background-color: var(--main-color-3, lightgray);
    height: 2rem;   
    box-shadow: 1px 1px 2px;
}

.top-panel label {
    display: grid;
    
}


.profile-img {
    height: 65px;
    width: 65px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 2px 2px 6px;
    transition: 0.5s;
}

.profile-img-big {
    height: 85px;
    width: 85px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 2px 2px 6px;
    transition: 0.5s;
}

.profile-img-big:hover,
.profile-img:hover {
    transform: scale(1.1);
}

.notifications-container {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.notifications-container a {
    transition: 0.5s;
}

.notifications-container a:hover {
    transform: scale(1.3);
}

.greeting-container {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.top-panel-buttons {
    display: flex;
    justify-content: flex-start;
    gap: 1.5rem;    
}

.top-panel-buttons button {
    background-color: var(--main-color-1, blue);
    color: var(--main-color-2, white);
    padding: 0.5rem 1.5rem;
    border-radius: 12px;
}

.bottom-panel {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 10px;
    padding: 1rem ;
    background-color: var(--main-color-3, light-gray);
}

.content {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(100px, 500px));
}

.card {
    height: 250px;
    max-width: 500px;
    background-color: var(--main-color-2, white);
    border-left: var(--main-color-4, gold) 1rem solid;
    border-radius: 12px;
    padding: 1rem;
    box-shadow: 1px 1px 6px;
    transition: 0.5s;
    display: grid;
}

.card:hover {
    box-shadow:1px 1px 12px;
}

.reactions {
    justify-self: end;
    display: grid;
    grid-auto-flow: column;
    gap: 1rem;
    align-items: center;
}

.reactions button {
    background-color: white;
    border: none;   
    transition: 0.5s;
    padding: 1rem;
    
}

.reactions button:hover {
    transform: scale(1.1);
    box-shadow:1px 1px 12px;
}

.bottom-panel-left {
    display: grid;
    gap: 1rem;
}

.bottom-panel-right {
    display: grid;
    grid-template-rows: auto auto 1fr;
    gap: 1rem;
}

.bottom-panel-right > div {
    display: grid;
    gap: 1rem;
}

.announcements-container,
.trending-container {
    background-color: var(--main-color-2, white);
    padding: 1rem;
    border-radius: 12px;
    display: grid;
    gap: 2rem;
    
}

.announcement:not(:last-child) {
    border-bottom: 2px solid var(--main-color-3, lightgray);
    padding-bottom: 1rem;
}

.trending {
    display:flex;
    align-items: center;
    gap: 1rem;
}