@font-face {
    font-family: roboto-slab;
    src: url(fonts/Roboto_Slab/RobotoSlab-VariableFont_wght.ttf)
}

* {
    padding: 0;
    margin: 0;
}

:root {
    --main-color-1: rgb(0, 110, 255);
    --main-color-2: white;
}

html {
    height: 100%;
    font-family: roboto-slab, sans-serif;
}

body {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 5fr;
}

.sidebar {
    background-color: var(--main-color-1, blue);
    color: var(--main-color-2, white);
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 4fr 1fr;
    
}

.logo {
    display: flex;
    align-items: center;
    gap: 1rem;

}

.sidebar > div > a {
    display: flex;
    align-items: center;
    gap: 1rem;
    text-decoration: none;
    color: var(--main-color-2, white);
    font-size: 1.5rem;
}

.sidebar > div > a:hover {
    text-decoration: underline;
}

.main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 5fr;
}

.top-panel {
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: 2fr 3fr;
    box-shadow: 2px 2px 12px;
    gap: 1rem;
    padding: 1rem;
    align-items: center;
}


.top-panel form {
    display: flex;
    align-items: center;
}

.top-panel input[type="search"] {
    flex: 1;
    border-radius: 12px;
    border: none;
    margin-left: 0.5rem;
    background-color: rgb(213, 213, 213);
    height: 1rem;   
}

.top-panel label {
    display: grid;
}

.top-panel-buttons {
    display: flex;
    justify-content: flex-start;
    gap: 1.5rem;    
}

.top-panel-buttons button {
    background-color: var(--main-color-1, blue);
    color: var(--main-color-2, white);
    padding: 0.5rem 1.5rem;
    border-radius: 12px;
}

.bottom-panel {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 10px;
    padding: 1rem ;
}

.bottom-panel-right {
    display: grid;
    grid-template: 1fr 1fr / 1fr;
}
